{% extends "shop/base.html" %}
{% load static %}
{% block title %}Категории{% endblock %}
{% block content %}
  <h1>Категории</h1>

  <div class="actions">
    {% if request.user.is_superuser %}
      <a href="{% url 'shop:category-add' %}">Добавить категорию</a>
    {% endif %}
    
  </div>

  <ul class="product-list">
    {% for c in categories %}
      <li class="product-card">
        <div class="card-body">
          <h2>{{ c.name }}</h2>
          <p>{{ c.description }}</p>

          <a href="{% url 'shop:product-by-category' c.pk %}" class="btn">Товары</a>
          {% if request.user.is_superuser and c.id %}
            <a href="{% url 'shop:category-delete' c.id %}">Удалить</a>
          {% endif %}
        </div>
      </li>
    {% empty %}
      <li>Нет категорий.</li>
    {% endfor %}
  </ul>
{% endblock %}