<nav class="site-nav">
    <div class="container">
        <ul class="nav-list">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'shop:product-list' %}">Каталог</a></li>
                <li><a href="{% url 'shop:category-list' %}">Категории</a></li>
                <li><a href="{% url 'shop:tag-list' %}">Теги</a></li>
                <li><a href="{% url 'shop:cart' %}">Корзина</a></li>
                <li><a href="{% url 'shop:profile' %}">Профиль</a></li>

                {% if request.user.is_superuser%}
                    <li><a href="{% url 'shop:product-add' %}">Добавить товар</a></li>
                    <li><a href="{% url 'shop:api_root' %}">API</a></li>
                    <li><a href="/admin/">Админка</a></li>
                {% endif %}

                {% if is_admin%}
                    <li><a href="{% url 'shop:product-add' %}">Добавить товар</a></li>
                    <li><a href="{% url 'shop:api_root' %}">API</a></li>
                    <li><a href="/admin/">Админка</a></li>
                {% endif %}

                {% if is_seller %}
                    <li><a href="{% url 'shop:api_root' %}">API</a></li>
                    <li><a href="/admin/">Админка</a></li>
                {% endif %}

                <li>
                    <form method="post" action="{% url 'shop:logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background: none; border: none; color: blue; cursor: pointer; padding: 0; text-decoration: underline;">
                            Выход
                        </button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'shop:login' %}">Вход</a></li>
                <li><a href="{% url 'shop:register' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </div>
</nav>